body {
	font-family: sans-serif;
	margin: 10%;
}
div {
	border-style: none;
	text-align: center;
	color: #7f0000;
	box-shadow: 0 0 2px 2px #7f0000;
	padding: 10px;
	margin-right: 10%;
	border-radius: 4px;
	white-space: nowrap;
	overflow-x: auto;
	display: inline;
	max-width: 0 auto;
}